<HTML>

<HEAD>

<TITLE>Pagina Synfony</TITLE>
<link href="{{ asset('bundles/todoranioan/css/style.css') }}" rel="stylesheet" type="text/css"  />
</HEAD>
<!--style='background: url("../../public/images/1.jpg")' -->
<BODY>

<CENTER>

<HR>

<a href="http://www.uab.ro">UAB</a>

Acesta este site-ul Universitatii

<H1>Ioan Todoran</H1>

<H2>Student PABD II</H2>

Adresa mea de email <a href="mailto:ioan.todoran90@yahoo.com">

ioan.todoran90@yahoo.com</a>.

<P> Studiez in cadrul facultatii de Stinte!

<P> <B>La Universitatea 1 Decembrie 1918</B>
<P>
<P>
<P>
<P>
</CENTER>
<BR> <I>Acesta este exemplu pentru un proiect in cadrul masteratului</I>



</BODY>
<HR>
</HTML> 
